* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 46px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url(../img/images/uber_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reasons_descr {
  width: 343px;
}
.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.mobile {
  width: 100%;
  min-height: 864px;
  padding: 48px 0 61px;
  background: url("../img/images/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 85px;
}
.mobile_item_1 {
  background: url(../img/images/mobile_1.jpg);
}
.mobile_item_2 {
  background: url(../img/images/mobile_2.jpg);
}
.mobile_item_3 {
  background: url(../img/images/mobile_3.jpg);
}
.mobile_item_4 {
  background: url(../img/images/mobile_4.jpg);
}
.mobile_item_5 {
  background: url(../img/images/mobile_5.jpg);
}
.mobile_item_6 {
  background: url(../img/images/mobile_6.jpg);
}
.mobile_item_subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 145px;
  bottom: 34px;
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.choice {
  background: url(../img/images/choice_bg.jpg) center center/cover no-repeat;
  min-height: 898px;
  padding: 59px 0 137px;
}
.choice .label {
  color: #070716;
  background: #FFFFFF;
}
.choice .title, .choice .subtitle {
  color: #FFFFFF;
}
.choice_img {
  display: block;
  margin: 54px auto 0;
}
.choice_descr {
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 66px 0 87px;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  font-weight: normal;
  font-size: 22px;
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -31px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/icons/check_blue.png");
}
.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li:before {
  background: url("../img/icons/check_red.png");
}

.city {
  min-height: 716px;
  padding: 48px 0 21px;
  background: url("../img/images/world_bg.jpg") center center/cover no-repeat;
}
.city .label {
  background: white;
  color: #070716;
}
.city .title, .city .subtitle {
  color: white;
}
.city_link {
  text-align: center;
  margin-top: 456px;
}
.city_look, .city_look:hover {
  font-weight: normal;
  font-size: 15px;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

footer {
  min-height: 155px;
  padding: 11px 0 40px;
  position: relative;
}
footer .blue {
  width: 301px;
  height: 7px;
  margin: 0 auto;
  background: #1FBAD6;
  margin-bottom: 31.5px;
}
footer .navigation {
  width: 369px;
  margin: 0 auto;
}
footer .navigation_list {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
footer .navigation_link, footer .navigation_link:hover {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}
footer .info {
  width: 390px;
  margin: 0 auto 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}
footer .info_link, footer .info_link:hover {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}
footer .lang {
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}
footer .social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 48px;
  left: 23px;
}
footer .social_round {
  width: 35px;
  height: 35px;
  background: #070716;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}
footer .market {
  position: absolute;
  right: 21px;
  top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .market img {
  margin-right: 7px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }

  .promo_header {
    font-size: 50px;
  }

  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons_descr {
    width: 300px;
  }

  footer .social, footer .market {
    top: 110px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }

  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }

  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }

  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_round {
    margin-right: 0;
  }
  .reasons_descr {
    margin-top: 20px;
  }

  footer .info {
    margin-bottom: 0;
  }
  footer .social {
    position: static;
    margin: 16px auto 19px;
    width: 170px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .market {
    position: static;
    width: 260px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .market img {
    width: 84px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
    text-align: center;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
  }
  .subheader_btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }

  .promo_header {
    line-height: 45px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 14px;
  }

  .mobile_item_subtitle {
    font-size: 20px;
  }

  .choice {
    min-height: 480px;
    padding-bottom: 50px;
  }
  .choice_img {
    width: 400px;
  }

  footer .info {
    margin-bottom: 0;
  }
  footer .social {
    position: static;
    margin: 16px auto 19px;
    width: 170px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .market {
    position: static;
    width: 260px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .market img {
    width: 84px;
  }
}
@media (max-width: 575px) {
  header {
    height: 32px;
  }

  nav {
    height: 32px;
  }

  .subheader {
    height: 60px;
    top: 32px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
    text-align: center;
  }
  .subheader_btn {
    margin-top: 6px;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .subheader_btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .promo {
    min-height: 400px;
    padding: 93px 0 35px;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    padding: 0 10px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    font-size: 16px;
    margin-top: 73px;
  }
  .promo_btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }

  .reasons {
    padding: 23px 0 38px;
  }
  .reasons_block {
    margin-top: 26px;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_descr {
    width: 100%;
    margin-top: 47px;
  }
  .reasons_subtitle {
    font-size: 16px;
  }

  .title {
    font-size: 16px;
    margin-top: 16px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-top: 11pxs;
  }

  .mobile {
    padding: 25px 0 7px;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
    padding: 80px 30px 0;
    margin: 0 auto 30px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .mobile_item_plus {
    left: 130px;
    bottom: 21px;
  }

  .choice {
    min-height: 393px;
    padding: 27px 0 31px;
    background: black;
  }
  .choice_img {
    width: 300px;
    height: 190px;
  }
  .choice_descr {
    color: white;
    margin: 0 20px;
  }
  .choice .title, .choice .subtitle {
    display: none;
  }

  .require {
    padding: 22px 0 30px;
  }
  .require_block {
    margin: 30px 0 0;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list {
    margin: 5px 0 0;
    padding-left: 30px;
  }
  .require_list li {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .require_descr {
    font-size: 14px;
    line-height: 16px;
  }

  .city {
    padding: 26px 0 0;
    min-height: 360px;
  }

  footer {
    padding: 24px 0 30px;
    min-height: 254px;
  }
  footer .blue {
    width: 253px;
    height: 4px;
    margin-bottom: 20px;
  }
  footer .navigation {
    width: 285px;
  }
  footer .navigation_link {
    font-size: 14px;
  }
  footer .info {
    margin: 5px auto 9px;
    width: 248px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .info_link:nth-child(1) {
    margin-right: 78px;
  }
}

/*# sourceMappingURL=style.css.map */